<!DOCTYPE html>
<html>
<head>
  <title>T.weet A.n I.nsult</title>
  <link href='http://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister&v2' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body>
	<header>
		<section class="container_16">
			<h1 class="grid_16">T.weet A.n I.nsult</h1>
		</section>
	</header>
	
	<div id="wrap" class="container_16">
		<div class="grid_16">
			<section id="do-it">
				<section id="d-cell">
					<%= yield %>
				</section>
			</section>
			
			<% 50.times do %>
			<section class="breaker">&#8230;</section>
			<% end %>

			<article id="infos">
			    <h2>What is this all about?</h2>
				<p>Did you ever really want to lay some verbal smack down, but find yourself not having anything better to say than 'Your Mom' as a comeback?</p>
				<p>Well, I have no solution for that problem, but now you can Tweet your insult after the fact. You know, like a mature adult would do.</p>
				<p>Don't say it to their face! Say it to anyone who will listen (your followers) from a good safe distance.</p>
			</article>
			<section class="breaker">&#8230;</section>
			<article>
				<h2>Wow... really? That's all this site is good for?</h2>
				<p>In a nutshell. Yes.</p>
				<p>This site is a functional demo that was thrown together to play w/ the Twitter API in a Rails environment. _Maybe_ it will become more interesting at a later date, but I rather doubt it.</p>
			</article>
			<section class="breaker">&#8230;</section>
			<article>
			    <h2>Whose responsible for this?</h2>
			    <p>My name's Joseph Smith, i'm not Mormon and you can <%= link_to 'Tweet an Insult', root_path %> my way <%= link_to '@technicolorenvy', "http://twitter.com/#!/technicolorenvy" %></p>
			</article>
		</div>
	</div>
	<footer>
		<section class="container_16">
			<a href="#infos"></a>
		</section>
	</footer>
</body>
</html>
